.Footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 10vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: start;
  transition: transform 0.5s ease-in-out;
  z-index: 99999;
}

.Box {
  height: 75%;
  border-bottom: 1px solid var(--color-black);
  border-top: 4px solid var(--color-black);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: content-box;
  padding: 0 3vw;
}

.Email{
  font-size:2vw;
}

.LeftStack, .RigthStack{
  display: flex;
  align-items: center;
  position: relative;
}

.LeftStack{
  gap: 2em;
}

.IconContainer{
  margin-right:1em;
  width: 5vh;
  height: 5vh;
}
.IconContainer img{
  width: 100%;
  height: auto;
}

.CopiedSpan {
  font-size: 1.5vw;
  position: absolute;
  top: 0;
  left: 5em;
  opacity: 0;
  transform: translateY(0);
  pointer-events: none;
  color: gray
}

.Animate {
  animation: fadeUp 1.5s ease-out forwards;
}

@keyframes fadeUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-200px);
  }
}
@media (max-width: 1024px) and (hover: none) {
  .Email{
    font-size:3vw;
  }
  .CopiedSpan{
    font-size: 2vw;
    left: 10em;
  }
}