.InputContainer {
  position: relative;
  margin-bottom: 1rem;
}

.Label {
  left: 0.5rem;
  position: absolute;
  font-size: 0.75rem;
  transition: all 0.3s ease;
  color: #666;
  pointer-events: none; /* Prevents clicking the label */
}

.OutlinedLabel{
  top: 0.05rem;
  padding: 0 0.5em;
}

.FilledLabel, .StandardLabel, .Disabled.OutlinedLabel{
  top: 0.8rem;
}

.LabelInside {
  top: 35px !important;
  left: 0.5rem;
  transform: translateY(-50%);
  font-size: 1rem;
}

.LabelFocused {
  color: var(--color-aux-primary); 
}

.InputField {
  width: 100%;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s ease, background-color 0.3s ease;
  line-height: 2em;
  resize: none; /* For default multiline (texarea) */
}

.InputField:focus {
  border-color: var(--color-aux-primary) !important;
}
.InputField:hover {
  border-color: #000;
}

.Outlined {
  border: 2px solid #ccc;
  border-radius: 100px;
  background: #fff;
}

.Standard {
  border: 0;
  border-bottom: 2px solid #ccc;
  background: #fff;
  padding: 0.2rem 0.5rem 0.2rem;
}

.Filled {
  border: 0;
  border-radius: 4px 4px 0 0;
  border-bottom: 2px solid #ccc;
  background-color:#f0f0f087;
  padding: 1.2rem 0.5rem 0.2rem;
}

.Filled:hover{
  background-color:  #f0f0f0;
}


.Error, .Error:hover, .Error:focus {
  border-color: var(--color-aux-error) !important;
}

.Label.Error  {
  color:var(--color-aux-error) !important; 
}

.ErrorMessage {
  color: var(--color-aux-error);
  font-size: 0.75rem;
  margin: -5px 5px;
}

.Resizable {
  resize: auto;
}

.Select{
  min-width: 50px;
  padding-top:.5rem;
  cursor: pointer;
}
.Select.Outlined{
  padding-top: 1.2rem;
}

.Disabled {
  background-color: var(--color-disabled-secondary);
  cursor: not-allowed;
  color: var(--color-disabled);
  opacity: 1;
}
.Disabled:hover {
  background-color: var(--color-disabled-secondary);
  cursor: not-allowed;
  border-color: var(--color-disabled);
}
.Disabled.OutlinedLabel{
  top: 1rem;
  background-color: transparent;
}
.FullWidth{
  width: 100%;
}
.Search{
  padding-left:35px;
}
.SearchIcon{
  position: absolute;
  top: 20px;
  left: 8px;
  pointer-events: none;
}

.SearchIconOutlined{
  top: 23px;
}