@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

.AboutIntro {
  position: relative;
  width: 100vw;
  height: 500vh;
  background-color: var(--color-black);
  overflow: hidden;
}

.StoryText{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  text-align: center;
  color: var(--color-white);
  text-transform: uppercase;
  z-index: 4;
}

.Title { 
  position: fixed;
  left: 70%;
  top: 50%;
  transform: translateY(-50%);
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  text-align: center;
  color: var(--color-white);
  text-transform: uppercase;
  z-index: 4;
  font-size: 4vw;
  opacity: 1;
  width: 50%;
 }
.StoryText { font-size: 3vw; opacity: 0; }
.Logo { 
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 5vw; 
  opacity: 0; 
  z-index: 5; 
  scale: 2;
  line-height: 0.3;
}

.Portrait {
  position: fixed;
  left: 20%;
  top: 50%;
  transform: translateY(-50%);
  height: 75vh;
  width: auto;
  max-height: 683px;
  z-index: 3;
  filter: grayscale(0.7);
}

.BackgroundLeft, .BackgroundRight {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  height: 75vh;
  width: auto;
  max-height: 683px;
  opacity: 0;
}
.Background{
  transform: translate(-50%,-50%);
  position: fixed;
  top: 50%;
  height: 75vh;
  width: auto;
  max-height: 683px;
  opacity: 0;
}
.BackgroundRight { right: 20%; z-index: 2; }
.BackgroundLeft { left: 20%; z-index: 1; }

.Spacer {
  height: 400vh;
  width: 100%;
  background-color: transparent;
}
.Body {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

