.Introduction{
  font-size: 2.5vw;
  letter-spacing: 0.2em;
  line-height: 1.7em;
  width: 100vw;
  padding: 2em;
  border-bottom: 4px solid var(--color-black);
  background-color: var(--color-white);
}

.Introduction p{
  margin:0;
  padding:0 0 1em 0;
  width: 100%;
}

.Introduction h1{
  width: 100%;
  padding:0.5em;
  font-size: 1.5em;
  font-weight: bold;
}

.ImageContainer{
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Title{
  text-align: center;
}

.Text{
  text-align: justify;
}

@media (max-width: 1024px) and (hover: none) {
  .Introduction{
    font-size: 2.5vh;

  }
  .Text{
    text-align: center;
  }
}