.MainPage{
  width: 100vw;
  min-height: 110vh;
}


.VideoBlockFadeIn {
  opacity: 0;
  animation: fadeIn 0.8s ease forwards;
}

.HiddenBlock {
  display: none;
}


.PosterImageContainer{
  width: 100vw;
  height: 40vh;
}
.PosterImage{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}