.MainPage{
  width: 100vw;
  height: 100vh;
}


.BackgroundContainer{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top:0;
  left:0;
  overflow: hidden;
}


.Video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  object-fit: cover; 
  z-index: -1; 
}

.Cover{
  padding: 40px;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100vh;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.Title{
  
  margin-bottom: 60px;
}

h2{
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  font-weight: 700;
  color: var(--color-primary);
}

h1{
  font-family: 'Playfair Display SC', serif;
  font-size: 60px;
  margin-top: 10px;
  font-weight: 900;
  color: var(--color-secondary);
}

.Button{
  position:relatve;
  top: -80px !important;
}


.Body{
  position: relative;
  background-color: transparent;
  width: 100vw;
  min-height: 100vh;
  margin-top: 100vh;
  margin-bottom: 100vh;
}

.BodyContainer{
  min-height: 100vh;
}

.Bottom{
  height:1px;
  background-color: transparent;
}


@media (max-width: 750px) {
  h2{
    font-size: 24px;
  }
  
  h1{
    font-size: 30px;
  }
  
}
