.GridContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; 
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  box-sizing: border-box;
}

.GridContainer > * {
  flex-grow: 0;
  flex-shrink: 0;
  margin-bottom: 0 !important; /* Minimum space between rows */
  /* margin-right: var(--min-gap) !important; /* Minimum space between items */
}

.GridContainer > *:last-child {
  margin-right: 0; /* Removes right margin for the last item in each row */
}

/* Handle the case when items in a row align to the end of the row */
/* .GridContainer::after {
  content: '';
  flex-grow: 1;
} */

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .GridContainer > * {
    margin-right: 0 !important; /* Minimum space between items */
    margin-bottom: var(--min-gap) !important; /* Minimum space between rows */
  }
  
}