.videoContainer {
  width: 100vw;
  height: 40vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: black; /* Fondo negro para evitar parpadeos */
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta el video al contenedor */
  cursor: pointer;
}
