.Services{
  flex-direction: column;
  justify-content: space-around !important;
  align-items: center !important;
  text-align: center;
  min-height: 100vh !important;  
  overflow: visible;
  height: auto !important;
}

.ImageContainer{
  background-image: url('../../assets/mda_mobiles.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.Title{
  width: 75%;
}

.Title h1{
  font-size: 30px;
}

.Content{
  display: flex;
  flex-direction: row;
}
.ImageContainer{
  flex-basis: 100%;
}
.ServicesContainer{
  flex-grow: 1;
}


.ServiceBox{
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 2%;
  box-sizing: border-box;
}

.ServiceTitle{
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row;
  color: var(--color-aux-text-secondary);
  font-size: 23px;
  flex-shrink: 0;
}

.ServiceTitle h2 {
  margin: 0.5em;
  text-align: start;
}
.ServiceDescription{
  text-align: start;
  font-size: 17px;

}

.SubTitle{
  width: 40%;
  margin: 45px 0;
}

.SubTitle h3{
  font-size: 20px;
}


@media only screen and (max-width: 768px) {
  .Title{
    width: auto;
  }
  .Title h1{
    margin: 20px 0;
    font-size: 20px;
  }

  .ServiceBox{
    width: 100%;
    height: 100%;
  }


  .SubTitle{
    width: 100%;

  }
  .Content{
    flex-direction: column;
  }

  .ImageContainer{
    display: none;
  }

}