.Container {
  display: flex;
  width: 100vw;
  height: 100vh;
  padding: 15vh 5vw;
  box-sizing: border-box;
  font-family: sans-serif;
  justify-content: space-between;
  align-items: center;
  gap: 5vw;
  font-size: 1vw;
}

.ImageSection {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ImageSection img {
  height: 75vh;
  width: auto;
  display: block;
}

.TextSection {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

.TextBlock {
  margin-bottom: 4vh;
}

.TextSection h1 {
  font-size: 2.8vw;
  font-weight: bold;
  text-align: center;
  margin-top: 3vh;
  margin-bottom: 2vh;
}

.TextSection p {
  font-size: 1.6vw;
  line-height: 1.5;
  text-align: justify;
}

@media (max-width: 1024px) and (hover: none) {
  .Container{
    padding: 0;
    overflow: hidden;
  }
  .TextSection{
    position:absolute;
    top: 0;
    left: 0;
    height:100vh;
    width: 100vw;
    padding: 15vh 5vw;
    flex: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .TextSection h1 {
    font-size: 7vw;
  text-align: center;
  }
  .TextSection p {
    font-size: 5vw;
  text-align: center;

  }
  .ImageSection {
   opacity: 0.2;
   /* display: none; */
  }
  
}
