.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: start;
  height: 60vh;
  max-width: 100vw;
  font-size: 12vw;
  margin: 0vh 5vw;
  font-weight: 700;
  overflow: hidden;
  text-align: left;
  letter-spacing: 2vw;
  box-sizing: content-box;
}

.word {
  display: inline-block;
  /* Asegura que ocupe espacio */
  opacity: 1;
  transition: opacity 0.3s linear;
}

.fadeOut {
  opacity: 0;
}

@media (max-width: 1024px) and (hover: none) {

  .container{
    justify-content: center;
    padding-top: 10vh;
    font-size: 17vw;
    height: 60vh;
    letter-spacing: 2vw;
    box-sizing: border-box;
  }

}