.cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  pointer-events: none;
  mix-blend-mode: difference;
  will-change: transform, left, top;
  transition: left 0s linear, top 0s linear, transform 0.15s ease-out;
}

.special {
  width: 40px;
  height: 40px;
  background-color: red;
  border-radius: 0;
  mix-blend-mode: normal;
}
