.AboutBody {
  color: var(--color-black);
}

.BodyContainer {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  text-align: left;
  font-weight: 100;
}

.CenterText {
  width: max-content;
  transform: translateX(-50%);
  margin-left: 50%;
}


.MainText,
.CenterText {
  padding: 50px 0 0px 0;
}

.CtaText {
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 50px 0 100px 0;
}

.AboutBody p {
  margin-bottom: 50px;
}

.AboutBody span {
  color: var(--color-tertiary);
  font-weight: bold;
}

.AboutBody h1{
  color: var(--color-black);
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 200px;
}

.CtaText h3 {
  font-size: 1.2em;
  margin-bottom: 50px;
}


.Footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 300px;
  padding: 50px 0 100px 0;
}
