.Menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
  display: flex;
  transform: rotate(90deg);
  transform-origin: 100% 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 1s ease-in-out;
  will-change: transform;
  z-index: 99996;
  background-color: var(--color-secondary);
  color: var(--color-white);
  background-color: #282828;
  /* opacity: 1;
  background-image: linear-gradient(135deg, #2f2f2f 25%, transparent 25%), linear-gradient(225deg, #2f2f2f 25%, transparent 25%), linear-gradient(45deg, #2f2f2f 25%, transparent 25%), linear-gradient(315deg, #2f2f2f 25%, #282828 25%);
  background-position: 24px 0, 24px 0, 0 0, 0 0;
  background-size: 48px 48px;
  background-repeat: repeat; */
  background-image: url('/src/assets/backgrounds/noise.png');
  background-repeat: repeat;
  background-size: auto; /* Cambiado de 'contain' a 'auto' */
}

.Selectable {
  transition: font-size 0.3s ease-in-out;
  font-size: 5vw;
  width: fit-content;
  text-align: center;
}

.Selectable:hover {
  font-size: 7vw;
}

.LocaleSelected {
  text-decoration: underline;
}

.LanguageSelector {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 5vw;
}

.isVisible {
  transform: rotate(0);

}

@media (max-width: 1024px) and (hover: none) {
  .Menu {
    transform: translateY(-100%);
    font-size: 14vw;
  }

  .Menu>.Selectable,
  .LanguageSelector {
    margin-top: 4vh;
    font-size: 14vw;
  }

  .Selectable {
    transition: none;
    font-size: 14vw;
  }

  .Selectable:hover {
    all: unset;
  }


  

  .isVisible {
    transform: translateY(0);

  }
}