.Menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  overflow: hidden;
  width: 100vw;
  display: flex;
  transform: rotate(90deg);
  transform-origin: 100% 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 1s ease-in-out;
  z-index: 99996;
  background-color: var(--color-secondary);
  color: var(--color-black);
  font-size: 7vw;
  text-align: center;
  line-height: normal;
}

.Selectable{
  transition: font-size 0.3s ease-in-out;
  font-size: 7vw;
  width: fit-content;
}

.Selectable:hover{
  font-size: 8vw;
}
.LocaleSelected{
  text-decoration: underline;
}
.LanguageSelector{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.isVisible{
  transform: rotate(0);
  
}

@media (max-width: 1024px) and (hover: none) {
  .Menu {
    transform: translateY(-100%);
    font-size: 14vw;
  }
  .Selectable{
    transition: none;
    font-size: 14vw;
  }
  .Selectable:hover{
    all: unset;
  }


  .Menu>.Selectable, .LanguageSelector{
    margin-top: 4vh;
  }
  .isVisible{
    transform: translateY(0);
    
  }
}