.MouseBarContainer {
  position: relative; /* Se mantiene relative */
  width: 100%;
  min-height: fit-content; /* Se ajusta a la altura del contenido */
  overflow: hidden;
  background-color: transparent;
  box-sizing: content-box;
  display: flex; /* Asegura que respeta la altura del contenido */
  align-items: center;
}

.MouseBar {
  display: flex; /* Ya no es inline-flex, esto evita problemas con flexbox */
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: relative; /* Cambio de absolute a relative */
  white-space: nowrap;
}

.MouseBar::-webkit-scrollbar {
  display: none;
}
