.StretchedTitle {
  font-size: 18vw;
  font-weight: 700;
  letter-spacing: 2vw;
  text-align: center;
  overflow: hidden; /* Para evitar desbordamientos no deseados */
  transform: scaleY(1);
  transform-origin: top; /* Hace que la transformación ocurra desde arriba */
  line-height: normal;
}
